.env
.env.*
!.env.example
!.env.payment.example
!.env.platform.example

/vendor/
/node_modules/
/public/build/
/public/hot

/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

/bootstrap/cache/*.php
!.gitkeep

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
